<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mate00.sleeperfriendlyapp" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.AlarmsListActivity"
            android:label="@string/title_activity_alarms_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SetAlarmDetails"
            android:label="@string/title_activity_set_alarm_details"
            android:parentActivityName=".ui.AlarmsListActivity" >
        </activity>

        <receiver
            android:name=".NextAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".ui.dialog.DialogLauncher"
            android:excludeFromRecents="false"
            android:label="@string/title_activity_dialog_launcher"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name=".audio.Mp3PlayerService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
